<!doctype html>
<title>About Randomized Dystopia</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
<div class=page>
<h1>What is this?</h1>

<p>I see a lot of repetitive dystopian fiction about denying people (often teenagers) the right to free speech or freedom of movement. But did you know that <a href="http://www.un.org/en/documents/udhr/index.shtml"><em>The Universal Declaration of Human Rights</em></a>, <a href="http://www.ohchr.org/EN/ProfessionalInterest/Pages/CRC.aspx"><em>The Convention on the Rights of the Child</em></a>, and <a href="http://www.un.org/womenwatch/daw/cedaw/text/econvention.htm"><em>The Convention on the Elimination of All Forms of Discrimination against Women</em></a> discuss several more ways that governments sometimes stomp on our liberties?</p>
<p>The next time you're writing a futuristic dystopia, hit <a href="{{url_for("index_pg")}}">the Assorted Abrogations page</a> to see three underappreciated freedoms a government could quash -- until <b>your</b> rebellious heroes stop them! Or hit <a href="{{url_for("custom_pg")}}">the Custom Terribleness page</a> to make yours a specifically sexist or ageist dystopia!
<p><small>Code <a href="https://gitlab.com/brainwane/randomized-dystopia">available under the GPL</a>; United Nations materials belong to their respective rightsholders. Made on a lark by <a href="http://www.harihareswara.net">Sumana Harihareswara</a> using Flask, partially based on <a href="https://github.com/bev-a-tron/MyFlaskTutorial">bev-a-tron's tutorial</a> and inspired by a conversation with <a href="http://www.missbananabiker.com/">Sabrina Banes</a> and elements of Courtney Milan's book <a href="http://www.courtneymilan.com/trademe.php"><em>Trade Me</em></a>. More details at <a href="http://www.harihareswara.net/sumana/2015/03/24/0">this "director's commentary"</a>. Thanks to <a href="http://crummy.com">Leonard Richardson</a> for aid with deployment. Harihareswara does not endorse the sexist language of the UDHR, which was ratified in 1948, the gender binary implied by the CEDAW, or the otherwise less-than-inclusive language of these documents.</small></p>
</div>
