<!doctype html>
<title>Assorted Abrogations: Underappreciated rights that YOUR dystopia can deny!</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
<div class=page>
<h1>Assorted Abrogations</h1>
Tired of the same old dystopias? Randomized Dystopia suggests a right that your fictional tyranny could deny its citizens!
<h2>Imagine a world without this right:</h2>
<blockquote>
{{right|safe}}
</blockquote>
<p>Hit Reload for a different part of <a href="http://www.un.org/en/documents/udhr/index.shtml"><em>The Universal Declaration of Human Rights</em></a>! Or, <a href="{{url_for("custom_pg")}}">customize your dystopia</a> with extra sexism and ageism!</p>
<i><a href="{{url_for("about_pg")}}">What is this?</a></i>
</div>
